div.1{
    text-align: center;
}

div.comment-area{
    margin-top:2em;
}

h3.comment-area{
    padding-bottom:1em;
    border-bottom:1px solid #ccc;
}

div.django-ckeditor-widget{
    width:100%;
}

div.comment{
    border-bottom: 1px dashed #ccc;
    margin-bottom:0.5em;
    padding-bottom:0.5em;
}

div.reply{
    margin-left:2em;

}

div.like{
    color:#337ab7;
    cursor:pointer;
    display:inline-block;
    padding:0.5em 0.3em;
}
span.glyphicon .active{
    color: #f22;
}