{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    HOME
{% endblock %}

{% block header_extends %}
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}
{% block home_active %}
    active
{% endblock %}
{% block content %}
<div class="word">
    <h1>Hello</h1>
    <h1>Welcome To My Site</h1>
</div>

    <div id="container" style="width: 600px;height:400px;"></div>
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script>

        // 图表配置
        var options = {
            chart: {
                type: 'line'                          //指定图表的类型，默认是折线图（line）
            },
            title: {
                text: null                 // 标题
            },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement: 'on'
            },
            yAxis: {
                title: {text: null},
                labels:{enabled:false},
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ read_nums }}                     // 数据
            }],
            credits: { enabled: false }
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
<div class="col-md-2 col-md-offset-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    今日热门博客
                </div>
                <div class="panel-body">
                    <ul>
                        {% for hot_blog in hot_blogs_for_today %}
                            <li>
                                <a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a>
                                ({{ hot_blog.read_num_sum }})
                            </li>
                        {% empty %}
                            <li>
                                暂无热门博客
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    </div>
    <div class="col-md-2 col-md-offset-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    7日热门博客
                </div>

                <div class="panel-body">
                    <ul>
                        {% for hot_blog in hot_blogs_for_7_days %}
                            <li>
                                <a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a>
                                ({{ hot_blog.read_num_sum }})
                            </li>
                        {% empty %}
                            <li>
                                暂无热门博客
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    </div>
{% endblock %}
